
    html, body {
        font-family: 'Signika Negative', sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        color: #292929;
        font: 90% Roboto, Arial, sans-serif;
        font-weight: 300;
    }

    p {
        padding: 0 10px;
        line-height: 1.8;
    }

    ul li {
        padding-right: 10px;
        line-height: 1.6;
    }

    h3 {
        padding: 5px 20px;
        margin: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    button {
        display: block;
        text-align: center;
        width: 250px;
        height: 80px;
        margin: 20px auto 20px auto;
        position: relative;
        top: 400px;
    }

    div#header {
        position: relative;
    }

    div#header h1 {
        height: 80px;
        line-height: 80px;
        margin: 0;
        padding-left: 10px;
        background: #e0e0e0;
        color: #292929;
    }

    div#header a {
        position: absolute;
        right: 0;
        top: 23px;
        padding: 10px;
        color: #006;
    }

    div#navigation {
        background: #7cb71c;
    }

    div#navigation li {
        list-style: none;
    }

    div#extra {
        background: #147FA9;
    }

    
    div#wrapper {
        float: left;
        width: 100%;
        margin-left: -200px
    }
    
    div#content {
        margin-left: 200px
    }
    
    div#navigation {
        float: right;
        width: 200px
    }
    
    div#extra {
        float: right;
        clear: right;
        width: 200px
    }
    
    div#footer {
        background: #42444e;
        color: #fff;
        clear: both;
        width: 100%;
        position: fixed;
        bottom: 0px;
        text-align: center;
    }
    div#footer p {
        padding: 20px 10px;
    }